asgiref==3.2.7
attrs==19.3.0
awsebcli==3.18.1
bcrypt==3.1.7
beautifulsoup4==4.8.2
blessed==1.17.8
boto==2.49.0
boto3==1.13.16
botocore==1.15.49
cached-property==1.5.1
cement==2.8.2
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==2.9.2
Django==3.0.4
docker==4.2.1
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
Flask==1.1.2
Flask-Cors==3.0.8
future==0.16.0
gpxpy==1.4.1
idna==2.7
importlib-metadata==1.6.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
MarkupSafe==1.1.1
nltk==3.4.5
paramiko==2.7.1
pathspec==0.5.9
pycparser==2.20
PyNaCl==1.4.0
pyrsistent==0.16.0
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.3.1
requests==2.20.1
s3transfer==0.3.3
semantic-version==2.5.0
simplejson==3.17.0
six==1.11.0
soupsieve==2.0
sqlparse==0.3.1
termcolor==1.1.0
textblob==0.15.3
texttable==1.6.2
urllib3==1.24.3
wcwidth==0.1.9
websocket-client==0.57.0
Werkzeug==1.0.1
zipp==3.1.0