html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #4e75bb;
}

@media (min-width: 720px) { 
  body {
    background-image: url("/static/dorado-needle-1920x1440.jpg");
    background-size: cover;
  }  
}

@media (min-width: 1920px) { 
  body {
    background-image: url("/static/dorado-needle-1920x1440.jpg");
    background-size: cover;
  }  
}

@media (min-width: 3840px) { 
  body {
    background-image: url("/static/dorado-needle-3840x2880.jpg");
    background-size: cover;
  }  
}
