<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>GPX Generator by Ridgeline Analytics</title>
 
  <meta name="description" content="MP Todo GPX Generator lets you generate a GPX file from your todo list on Mountain Project." />
  <meta name="author" content="Matthew Lee">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169269310-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169269310-1');
  </script>

</head>

<body>
	<div class="container">
		<h1>GPX Generator</h1>
	
	  	{% if error %}
     	 	<div class="alert alert-danger" role="alert">{{error}}</div>
	    {% endif %}
	
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
			  <div class="alert alert-success" role="alert">
				{{message}}
			  </div>
			{% endfor %}
		  {% endif %}
		{% endwith %}
	
		{% block body %}{% endblock %}

		{% if profile %}	
		<div class="row">
			<div class="col-sm-4">
				<img src="{{profile.avatar}}">
			</div>
			<div class="col-sm-5">
				<ul class="list-group">
					<li class="list-group-item">{{profile.name}}</li>
					<li class="list-group-item">Location: {{profile.location}}, {{profile.postalCode}}</li>
					<li class="list-group-item">Member Since: {{date.strptime(profile.memberSince)|formatdatetime }}</li>
					{{profile}}
					{% if username %}	
					<li class="list-group-item">
						<b><a href="{{url_for('.download',username=username)}}">Click here to download your GPX Data  - (todos.gpx)</a></b>
					</li>		
					{% endif %}
				</ul>
			</div>
		</div>
		
		{% else %}
		
		<p>
		Create a GPX file from your todo list on MountainProject.com.  
		<br/>
		You can open the GPX file in Google Earth, Gaia GPS, other GPS apps and devices.		
		<br />
		<br />
		No more wandering around looking for your climb! 		
		</p>		
		
		<form-group>
		<form action="/" method="POST">
				<label for="username">Mountain Project Username (email):</label>
				<input type="email" class="form-control" id="username" name="username" value="Enter email" />			
				<input type="submit" value="Get GPX Data"/>
			</form>
		</form-group>

		{% endif %}	
		
		<hr />
		  
		<p>
		<small>
		&copy;2020 Ridgeline Analytics
		<br/><a href="https://www.ridgeline-analytics.com">ridgeline-analytics.com<a/>
		<br/><a href="mailto:matthew.lee@ridgeline-analytics.com">matthew.lee@ridgeline-analytics.com</a>	
		</small>
		</p>		
		<p>
		<small>We don't collect your email address or store any pesonal data.</small>
		</p>
		
	</div>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>