<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MP Todo GPX Generator - Ridgeline Analytics</title>
  <meta name="description" content="MP Todo GPX Generator - generate a GPX file from your MP todos" />
  <meta name="author" content="Matthew Lee">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
  <script src="js/scripts.js"></script>
  <h1>Welcome to the MP Todo GPX Generator</h1>

  <div>Have you ever wanted your GPS device or app to have all your MP todos preloaded?  Well today's your lucky day!  
  <br />Just enter your MP username and secret key to download a GPX file of your todo list! Open it in your favorite GPS app like Garmin, Gaia or Google Earth. 
  <br />No more wandering around looking for your climb!  Get your secret key at <a href="https://www.mountainproject.com/data">https://www.mountainproject.com/data</a>
  </div>

  <form action="/" method="POST">
  	<input id="username" name="username" type="text" value="MP Username" />
  	<input id="secret_key" name="secret_key" type="text" value="API Secret Key" />
  	<input type="submit" value="Get GPX Data"/>
  </form>
</body>
</html>